*{  
    /* display: flex; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* body */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../imagenes/f9252a0e7ffac31aa63a675acb767631.jpg");
    background-repeat:no-repeat;
    background-position-x:50% ;
    background-size: cover;
}

.main_background{
    display: flex;
    width: 80vh;
    height: 50vh;
    background-color: #ffd97f;
    margin: auto;
    margin-top: 20vh;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    box-shadow: 7px 13px 37px;

}

.main_background .titulologin{
    border-top: 3.5vh solid greenyellow;
    border-bottom:3.5vh solid red;
    font-size: 4vh;
    margin: 3vh;
    height: 7vh;
    width: 100%;
    align-self: center;
    text-align:center;

}

.main_background .celdas{
    display: flex;
    width: 80%;
    align-self: center;
    margin: 2vh;
    height: 15%;
    border: 1vh solid rgb(255, 162, 0);
    background-color: #ffba19;
    font-weight: bold;
    border-radius: 2vh;
}

.ingreso{
    display: flex;
    align-self: center;
    width: 80%;
    height: 10%;
    margin-bottom: 1vh;
    background-color: rgb(255, 136, 136);
    border-radius: 2vh;
    border: none;
}

.main_background p{
    align-self: center;
    text-align: center;
    height: 10%;
    width: 80%;
    margin-bottom: 2vh;
    border-bottom: 1vh solid;
}

.main_background a{
    color:black;
    text-decoration: none;
}

.main_background a:hover{
    color:black;
    text-decoration: underline;
}
