*{  
    /* display: flex; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* header */

header{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-items: center;
    align-items: center;
}

.Mothership{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-items: center;
    align-content:stretch;
    

}

.fuenteycolor{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    align-self: center;
    justify-self: center;
}


/* body */


.main_background{
    display: grid;
    grid-template-columns:15% 15 40% 15% 15;
    grid-template-rows: repeat(4, 140%);
    background:radial-gradient(black, 85%, cyan);
    background-repeat: repeat;
    background-position-x: center;
    
}

.login{
    display:inline-flex;
    flex-direction: column;
    background-image: url("../imagenes/istockphoto-1167313459-612x612-removebg-preview.png");
    background-position-x: 50%;
    background-size:cover;
    color: white; 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    border-radius: 20%;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.ussername input{
    position: relative;
    background-color: transparent;
    width: 15vw;
    height: 4vh;
    border-radius: 20%;
    padding: 1vh;

}

.password input{
    position: relative;
    background-color: transparent;
    width: 15vw;
    height: 4vh;
    border-radius: 20%;
}


.imagencompañia1{
    background-image: url('../imagenes/image-removebg-preview.png');
    background-repeat: no-repeat;
    background-position-x: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 11;
    opacity: 0.3;
}

.imagencompañia2{
    background-image: url('../imagenes/image-removebg-preview.png');
    background-repeat: no-repeat;
    background-position-x: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 11;
    opacity: 0.2;
}

.avengers{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 23px;
    letter-spacing: 1.4px;
    word-spacing: -2.4px;
    font-weight: 400;
}

.acceses{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.acceses button{
    background-color: transparent;
}

button{
    grid-column-start:2 ;
    grid-column-end: 3;
}