/*para importar otros css solo se necesita usar el comando @import*/

@import url('/style/Styleheader(Xcom).css'); /* @import url(''); */
@import url('/style/stylebody\(Xcom\).css');
@import url('/style/stylefooter\(Xcom\).css');
*{  
    /* display: flex; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 60% 20%;
    width: 100%;
    /* grid-column-start: 1;
    grid-column-end: 3; */
}

