header{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:1 ;
    grid-row-end:2 ;
}

.headermayor{
    display: flex;
    width: 100%;
    justify-content: center;
    background-repeat: repeat-x;
    background-size: contain;
    background-position-x: center;
    padding:1%;
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:2;
}

.cont{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    background-color: black;
    width: 80%;
}

.img1{
    justify-content: start;
    align-items: self-start;
    padding: 1vh;
    width: 20%;
    height: 100%;
}

.aloha{
    text-align:center;
    justify-content:flex-start;
    font-size: 10vh;
    color: white;
    width: 80%;
}



.p1{
    color: white;
    text-decoration:underline;
}