@import url("../style/estilobitacora\(header\).css");
@import url("../style/estilobitacora\(body\).css");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 38% 10%;
    width: 100%;
}

