.gridcont{
    height: 100%;
    grid-column-start: 1;
    grid-column-end:4 ;
}

.contenedor{
    background-color: transparent;
    padding: 1%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:1 ;
    grid-row-end:2 ;    
}

.minicontenedor2{
    display: inline-flex;
    width: 75%;
    height: 40vh;
    margin: 1vh;
    color: rgb(0, 0, 0);
    background: #ff0088;
    background: linear-gradient(8deg, rgba(255, 0, 136, 1) 0%, rgba(209, 0, 136, 1) 16%, rgba(154, 87, 199, 1) 36%, rgba(183, 0, 255, 1) 54%, rgba(36, 131, 255, 1) 74%, rgba(255, 0, 195, 1) 95%);
    border-right: solid rgb(102,0,255) 2vh;
    border-left: solid rgb(132, 0, 255) 2vh;
    border-top: solid rgb(162, 0, 255) 2vh;
    border-bottom: solid rgb(192, 0, 255) 2vh;
}

.minicontenedor2 p{
    text-align: justify;
}


#info{
    display: inline-flex;
    grid-column-start:1 ;
    grid-column-end:2 ;
    align-items:flex-start ;
    font-size: 3vh;
    border: solid white 1vh;
    width: 20%;
    flex-direction: column;
    height: 50vh;
}

.barra1{
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    display: flex;
    color: white;
    background-color: transparent;
    grid-row-start: 1;
    grid-row-end: 2;
    margin:2vh;
}

.barra2{
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    display: flex;
    color: white;
    background-color: transparent;
    grid-row-start: 2;
    grid-row-end: 3;
    margin:2vh;
}

.barra3{
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    display: flex;
    color: white;
    background-color: transparent;
    grid-row-start: 3;
    grid-row-end: 4;
    margin:2vh;
}

.barra4{
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    display: flex;
    color: white;
    background-color: transparent;
    grid-row-start: 4;
    grid-row-end: 5;
    margin:2vh;
}

.barra5{
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    display: flex;
    color: white;
    background-color: transparent;
    grid-row-start: 5;
    grid-row-end: 6;
    margin:2vh;

}

#barra:hover{
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    display: flex; 
    border-style:solid;
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 242, 255);
    border-radius: 10%;
    animation: forwards;
}

.minicontenedor3{
    /* border-style: solid; */
    width: 20%;
    margin: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 100%;
    justify-content:end;
    grid-row-start:1 ;
    grid-row-end: 2;
    grid-column-start:1 ;
    grid-column-end:4 ; 
}